src/main/mule/system-order-db-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    
    <apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="8bbe0190-a51f-4ebf-bd8c-09ae61ad3056" name="Router" raml="api/system-order-db-api.raml" />
	<flow name="system-order-db-api-main">
        <http:listener path="${secure::http.path}" config-ref="httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="Router"/>
        <error-handler ref="globalError_Handler" />
        </flow>
    <flow name="system-order-db-api-console">
        <http:listener path="/console/*" config-ref="httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="Router" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\orders\(order-id):Router">
		<flow-ref doc:name="Flow Reference" doc:id="2f082105-23da-41e3-b80f-374578613711" name="get-order-by-uriparam-flow"/>
    
		<error-handler ref="globalError_Handler" />    
    </flow>
</mule>
